*{
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #eee;
    border: none;
    margin: 15px 0;
  }
  
  .header-menu {
    background: #fff;
    padding: 10px 20px;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 40px;
  }
  
  .searchbox {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    padding: 10px 20px;
    border-radius: 30px;
    width: 510px;
    max-width: 100%;
  }
  
  .search-icon {
    width: 20px;
    margin-left: 10px;
  }
  
  .search-input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    text-align: right;
    font-size: 14px;
    color: #bbbbbb;
    opacity: 80%;
  }
  
  .panel {
    display: flex;
    gap: 20px;
  }
  
  .panel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #333;
  }
  
  .panel-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 0;
  }
  
  .menu-right,
  .menu-left {
    display: flex;
    gap: 20px;
  }
  
  .menu-item {
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .header-mobile {
    display: none;
  }

  .mobile-topbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-button {
    cursor: pointer;
  }
  
  .menu-icon {
    width: 24px;
  }
  
  .mobile-menu {
    display: none;
    background: #fff;
    width: 100%;
  }
  
  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobile-menu li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  
  .basket {
    cursor: pointer;
  }
 
  .basket-icon {
    width: 24px;
  }
  
.mobile-searchbox {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px 5px 0 5px;
  width: calc(100% - 10px);
  opacity: 80%;
}

.mobile-searchbox .search-icon {
  width: 20px;
  margin-left: 10px;
}

.mobile-searchbox .search-input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  text-align: right;
  font-size: 14px;
  color: #bbbbbb;
}

/* فقط در حالت دسکتاپ */
@media (min-width: 769px) {
  .menu-item-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .desktop-menu-icon {
    width: 20px;
    height: 20px;
  }
  .footer-mobile-footer{
    display: none;
  }
}

.farmers-mobile-section {
  display: none;
}

.hero-image {
  width: 100%;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 140px;
  left: 60px;
  color: white;
  max-width: 500px;
  text-align: right;
}

.hero-text h3 {
  font-size: 38px;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* سایه به متن */
}

.hero-text p {
  font-size: 16px;
  line-height: 1.8;
  padding: 20px;
  text-align: justify;
  max-width: 400px;
}

.hero-btn {
  margin-top: 20px;
  background-color: #1EBC8B;
  color: white;
  padding: 20px 120px;
  border-radius: 40px;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}

.hero-subtext {
  text-align: center;
  padding: 20px 20px;
  font-size: 24px;
  color: #333;
  max-width: 950px;
  margin: 0 auto;
  line-height: 1.8;
  margin-bottom: 0px;
}

.values-wrapper {
  width: 100%;
  min-height: 900px;
  background-image: url('../image/values-back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -20px;
}

.values-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.value-box {
  position: absolute;
  width: 280px;
}

.box-top.right {
  top: 10px;
  right: 0;
}

.box-top.center {
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.box-top.left {
  top: 10px;
  left: 0;
}

.box-bottom.right {
  top: 100px;
  right: 20%;
}

.box-bottom.left {
  top: 100px;
  left: 20%;
}

.value-wrapper1 {
  position: absolute;
  top: 120px;
  right: 0;
  width: 280px;
}

.value-wrapper1 .value-icon-top {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  z-index: 2;
}

.value-wrapper1 .value-content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.value-wrapper1 .value-title-icon {
  width: 200px;
  margin-bottom: 10px;
}

.value-wrapper1 h4 {
  font-size: 14px;
  color: #333;
  margin: 0;
  white-space: nowrap;
  position: relative;
  top: -51px;
}

.value-wrapper1 .value-description {
  font-size: 12px;
  color: #ffffff;
  line-height: 1.8;
  margin-top: -30px;
  direction: rtl;
  text-align: justify;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.value-wrapper1 .value-farmer {
  position: absolute;
  top: -90px;
  right: -5px;
  width: 100px;
  z-index: 3;
}

.value-wrapper2 {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
}

.value-wrapper2 .value-icon-top {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  z-index: 2;
}

.value-wrapper2 .value-content {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.value-wrapper2 .value-title-icon {
  width: 200px;
  margin-bottom: 10px;
}

.value-wrapper2 h4 {
  font-size: 14px;
  color: #333;
  margin: 0;
  white-space: nowrap;
  position: relative;
  top: -52px;
}

.value-wrapper2 p {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  direction: rtl;
  text-align: justify;
  position: relative;
  top: -30px;
  max-width: 240px;
}

.value-wrapper2 .value-laboratory {
  position: absolute;
  top: 50px;
  right: 85px;
  width: 100px;
  z-index: 1;
}

.value-wrapper3 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 280px;
}

.value-wrapper3 .value-icon-top {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  z-index: 2;
}

.value-wrapper3 .value-content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.value-wrapper3 .value-title-icon {
  width: 200px;
  margin-bottom: 10px;
}

.value-wrapper3 h4 {
  font-size: 14px;
  color: #333;
  margin: 0;
  white-space: nowrap;
  position: relative;
  top: -52px;
}

.value-wrapper3 .value-description {
  font-size: 12px;
  color: #ffffff;
  line-height: 1.8;
  margin-top: -30px;
  direction: rtl;
  text-align: justify;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.value-wrapper3 .value-price {
  position: absolute;
  top: -90px;
  left: -5px;
  width: 100px;
  z-index: 3;
}

.value-wrapper4 {
  position: absolute;
  top: 500px;
  right: 100px;
  width: 280px;
}

.value-wrapper4 .value-icon-top {
  position: absolute;
  top: 85px;
  left: 30%;
  transform: translateX(-50%);
  width: 50px;
  z-index: 2;
}

.value-wrapper4 .value-content {
  position: absolute;
  top: 140px;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.value-wrapper4 .value-title-icon {
  width: 200px;
  margin-bottom: 10px;
}

.value-wrapper4 h4 {
  font-size: 14px;
  color: #333;
  margin: 0;
  white-space: nowrap;
  position: relative;
  top: -51px;
}

.value-wrapper4 .value-description {
  font-size: 12px;
  color: #ffffff;
  line-height: 1.8;
  margin-top: -30px;
  direction: rtl;
  text-align: justify;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.value-wrapper4 .value-packing {
  position: absolute;
  top: -10px;
  right: 60px;
  width: 100px;
  z-index: 3;
}

.value-wrapper5 {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 280px;
}

.value-wrapper5 .value-icon-top {
  position: absolute;
  top: 85px;
  left: 70%;
  transform: translateX(-50%);
  width: 50px;
  z-index: 2;
}

.value-wrapper5 .value-content {
  position: absolute;
  top: 140px;
  left: 70%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.value-wrapper5 .value-title-icon {
  width: 200px;
  margin-bottom: 10px;
}

.value-wrapper5 h4 {
  font-size: 14px;
  color: #333;
  margin: 0;
  white-space: nowrap;
  position: relative;
  top: -51px;
}

.value-wrapper5 .value-description {
  font-size: 12px;
  color: #ffffff;
  line-height: 1.8;
  margin-top: -30px;
  direction: rtl;
  text-align: justify;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.value-wrapper5 .value-shipping {
  position: absolute;
  top: -10px;
  left: 60px;
  width: 100px;
  z-index: 3;
}

h2 {
  text-align: center;
  font-size: 36px;
}

.product-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 25px;
  margin: 40px auto;
  max-width: 1200px;
}

.product-box {
  width: 22%;
  object-fit: cover;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  min-height: 450px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.product-box:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.product-box img {
  width: 100%;
  border-radius: 12px 12px 12px 12px;
}

.product-box h5 {
  font-size: 25px;
  margin: 50px 0;
  color: #1c1c1c;
  font-weight: bold;
}

.product-box p {
  font-size: 18px;
  margin-top: -15px;
  padding: 15px;
  direction: rtl;
  text-align: justify;
  color: #686868;
}

.more-products-wrapper {
  text-align: center;
  margin-top: 30px;
}

.more-products-btn {
  font-size: 16px;
  color: #1EBC8B;
  background-color: transparent;
  border: 1px solid #1EBC8B;
  border-radius: 25px;
  min-width: 300px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-products-btn:hover {
  background-color: #1ebc8a19;
}

.products-section {
  width: 100%;
  background-color: #fff;
  box-shadow:
    0 -12px 20px rgba(0, 0, 0, 0.07),
    0 12px 20px rgba(0, 0, 0, 0.07);
  padding: 60px 0;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
}

.farmers-slider-section {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  background-color: #E0E0DE;
  direction: rtl;
  align-items: center;
  padding: 5px 0;
}

.farmers-box {
  width: 30%;
  padding: 0 40px;
  text-align: center;
}

.farmers-box h3 {
  font-size: 36px;
  margin-bottom: 24px;
  color: #333;
}

.farmers-box p {
  font-size: 20px;
  line-height: 2;
  color: #444;
}

.more-products-wrapper2 {
  margin-top: 30px;
}

.more-products-btn2 {
  font-size: 16px;
  color: #1EBC8B;
  background-color: #fff;
  border: 1px solid #1EBC8B;
  border-radius: 25px;
  min-width: 300px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-products-btn2:hover {
  background-color: #1ebc8a19;
}

.farmers-slider-container {
  height: 426px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
}

.farmers-slider {
  display: flex;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scrollbar-width: none;
}

.farmers-slider::-webkit-scrollbar {
  display: none;
}

.farmer-card {
  width: 300px;
  min-width: 300px;
  background-color: #fff;
  border-radius: 12px;
  margin: 0 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-shrink: 0;
  height: 420px;
}

.farmer-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.farmer-card h4 {
  font-size: 18px;
  margin: 12px 0 6px;
}

.farmer-card p {
  font-size: 15px;
  color: #333;
  padding: 0 12px 12px;
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  font-size: 28px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.slider-nav.left {
  left: 10px;
}

.slider-nav.right {
  right: 10px;
}

.sale-box {
  width: 22%;
  object-fit: cover;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  min-height: 430px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.sale-box:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.sale-box img {
  width: 100%;
  border-radius: 12px 12px 12px 12px;
}

.sale-box h5 {
  font-size: 15px;
  color: #1c1c1c;
  font-weight: bold;
}

.footer {
  background-color: #f5f5f5;
  padding: 60px;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.footer-left {
  width: 30%;
}

.support-contact h4.highlighted {
  color: #1EBC8B;
  margin-bottom: 10px;
}

.support-contact p {
  margin: 4px 0;
  font-size: 16px;
  color: #444;
}

.phone-link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 6px;
}

.footer-links h5 {
  font-size: 18px;
  margin-top: 24px;
  color: #333;
}

.footer-links ul {
  list-style-type: disc;
  padding-right: 20px;
  margin: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  text-decoration: none;
  color: #444;
}

.footer-links a:hover {
  color:#1ebc8aa8
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 16px;
}

.footer-icon {
  text-align: center;
  flex: 1;
}

.footer-icon img {
  width: 40px;
  height: 40px;
}

.footer-icon span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.footer-icon span:hover{
  color:#1ebc8aa8  
}

.footer-brand-descriptions {
  margin-top: 24px;
  font-size: 16px;
  color: #555;
  line-height: 1.8;
  font-weight: bold;
}

.footer-right {
  width: 65%;
  padding: 0 40px;
  direction: rtl;
  text-align: right;
  color: #333;
}

.footer-right h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.social-icons img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 24px 0;
}

.footer-logo-description {
  margin-bottom: 32px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer-about {
  font-size: 14px;
  line-height: 2;
  color: #444;
  text-align: justify;
}

.footer-certificates {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.footer-certificates img {
  height: 48px;
  object-fit: contain;
}

.footer-copyright {
    width: 100%;
    background-color: #434242;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
  }
  

/*فقط در حالت موبایل*/
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .header-mobile {
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero-img {
    position: relative;
    margin-top: 10px;
    filter: brightness(0.6);
  }
  
  .hero-text {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 90%;
  }

  .hero-text h3 {
    font-size: 18px;
    left: 0;
  }

  .hero-text p {
    font-size: 12px;
    padding: 10px;
    line-height: 1.6;
    max-width: 100%;
    text-align: justify;
  }

  .hero-btn {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 30px;
  }
  .hero-subtext {
    font-size: 16px;
    padding: 20px 15px;
  }

  .values-wrapper {
    display: none;
  
}

.product-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.product-box {
  width: 44%;
  min-height: 150px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.product-box img {
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.product-box h5 {
  font-size: 13px;
  margin-bottom: 6px;
}

.product-box p {
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  max-height: 72px;
  overflow: hidden;
}

.products-section h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.more-products-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.more-products-btn {
  font-size: 16px;
  color: #1EBC8B;
  background-color: transparent;
  border: 1px solid #1EBC8B;
  border-radius: 25px;
  min-width: 300px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.farmers-slider-section{
  display: none;
}

.farmers-mobile-section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  background-color: #E0E0DE;
  padding: 24px 16px;
  direction: rtl;
}

.mobile-farmers-wrapper {
  text-align: center;
  position: relative;
}

.mobile-title {
  font-size: 20px;
  margin-bottom: 24px;
  color: #333;
}

.mobile-slider-container {
  position: relative;
  overflow: hidden;
}

.mobile-slider {
  display: flex;
  gap: 2px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 8px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.mobile-slider::-webkit-scrollbar {
  display: none;
}

.farmer-card {
  flex: 0 0 47%;
  min-width: 44%;
  max-height: 220px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.farmer-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.farmer-card h4 {
  font-size: 14px;
  margin: 8px 0 4px;
}

.farmer-card p {
  font-size: 12px;
  color: #333;
  padding: 0 6px 10px;
  line-height: 1.5;
}

.slider-nav {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 35px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.slider-nav.left {
  left: 8px;
}

.slider-nav.right {
  right: 8px;
}

.mobile-desc {
  font-size: 16px;
  color: #444;
  margin: 20px 0;
  line-height: 1.8;
}

.more-products-btn2 {
  font-size: 15px;
  color: #1EBC8B;
  background-color: #fff;
  border: 1px solid #1EBC8B;
  border-radius: 25px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-products-btn2:hover {
  background-color: #1ebc8a19;
}

.products-section {
  padding: 40px 20px;
}

.products-section h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.product-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.sale-box {
  width: 44%;
  min-height: 280px;
  aspect-ratio: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.sale-box img {
  flex-shrink: 0;
  width: 100%;
  height: 200;
  object-fit: cover;
  border-radius: 0;
  margin: 0;
  display: block;
}

.sale-box h5 {
  font-size: 13px;
  margin-bottom: 6px;
}

.footer{
  display: none;
}

.footer-mobile-footer {
  padding: 32px 20px;
  background-color: #f5f5f5;
  text-align: center;
  direction: rtl;
}

.support-contact {
  margin-bottom: 20px;
}

.support-contact h4,
.support-contact p,
.phone-link {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.social-icons img {
  width: 28px;
  height: 28px;
}

.footer-hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 24px 0;
}

.footer-links {
  text-align: right;
  margin-bottom: 24px;
}

.footer-links h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: disc;
  padding-right: 20px;
  margin: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  color: #444;
  text-decoration: none;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.footer-icon {
  text-align: center;
  width: 80px;
}

.footer-icon img {
  width: 36px;
  height: 36px;
}

.footer-icon span {
  display: block;
  font-size: 13px;
  margin-top: 6px;
}

.footer-logo-description {
  margin: 32px 0 20px;
  text-align: right;
}

.footer-logo {
  width: 140px;
  margin-bottom: 16px;
}

.footer-about {
  font-size: 13px;
  color: #444;
  line-height: 1.9;
  text-align: justify;
}

.footer-certificates {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.footer-certificates img {
  height: 40px;
  object-fit: contain;
}

}